@page "{folderId:int}"
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Azure_FileExplorerApp.Pages.Files.FilesIndexModel

@{
    ViewData["Title"] = "Вміст папки";
}

<h1 class="text-center">Вміст папки:  @Model.FolderName</h1>

<a asp-page="/Folders/Index" class="btn btn-secondary btn-sm me-3">На головну</a>
<a asp-page="/Folders/Create" asp-route-parentFolderId="@Model.FolderId" class="btn btn-info btn-sm mt-3 mb-3 me-3">Створити нову папку</a>
<a asp-page="/Files/Upload" asp-route-folderId="@Model.FolderId" class="btn btn-info btn-sm me-3">Завантажити новий файл</a>



<div class="row row-cols-1 row-cols-md-6 g-4 mt-3">
    @foreach (var subFolder in Model.SubFolders)
    {
        <div class="col">
            <div class="card-body text-center">
                <a asp-page="/Files/Index" asp-route-folderId="@subFolder.Id" class="text-decoration-none">
                    <i class="fa fa-folder fa-5x text-warning mb-3"></i>
                </a>
                <h5 class="card-title">@subFolder.Name</h5>

                <div class="d-grid gap-2 d-md-flex justify-content-center mt-3">

                    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || subFolder.CreatedByUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <a asp-page="/Folders/Edit" asp-route-folderId="@subFolder.Id" class="text-success">
                            <i class="fa fa-edit fa-1x"></i>
                        </a>
                    }

                    @if (User.IsInRole("Admin") || subFolder.CreatedByUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <a asp-page="/Folders/Delete" asp-route-folderId="@subFolder.Id" class="text-danger">
                            <i class="fa fa-trash fa-1x"></i>
                        </a>
                    }
                </div>

            </div>
        </div>
    }
    

    @foreach (var file in Model.Files)
    {
        <div class="col">
            <div class="card-body text-center">
                <a asp-page="/Files/Details" asp-route-fileId="@file.Id" class="text-decoration-none">
                    <i class="fa fa-file fa-5x text-primary mb-3"></i>
                </a>
                <h5 class="card-title">@file.FileName</h5>

                <div class="d-flex justify-content-center gap-3 mt-3">
                    @if (User.IsInRole("Admin") || file.CreatedByUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <a asp-page="/Files/Delete" asp-route-fileId="@file.Id" class="text-danger">
                            <i class="fa fa-trash fa-1x"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
}

